.list {
  list-style: none;
  margin: 0;
  margin-top: 20px;
}

.list__item {
  padding-bottom: 25px;
  position: relative;
}

.list__item:last-child {
  padding-bottom: 0;
  border-left: none;
}

.list__text {
  margin: 0;
  color: #303133;
  padding-bottom: 16px;
}

.list__item--wrapper {
  position: relative;
  top: -5px;
}

.circle::after {
  content: "";
  display: block;
  background: #e4e7ed;
  border: 1px solid #e4e7ed;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  left: -30px;
}

.tail::before {
  content: "";
  display: block;
  background: #e4e7ed;
  border: 1px solid #e4e7ed;
  width: 0.3px;
  height: 100%;
  position: absolute;
  left: -24px;
  top: 12px;
}

.list__date {
  color: #9093b3;
}
